.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: white;
	/* background: linear-gradient(to bottom, rgb(1, 0, 33), rgb(1, 0, 100)); */
	padding: 10px;
  }
  
  .header-title {
	color: #404756;
	font-size: 24px;
  }
  
  .header-nav {
	display: flex;
	align-items: center;
  }
  
  .header-nav-list {
	list-style-type: none;
	margin: 0;
	padding: 15px;
	display: flex;
  }
  
  .header-nav-item {
	margin-right: 10px;
  }
  
  .header-nav-link {
	/* color: #871515; */
	color: #404756;
	text-decoration: none;
	font-size: 16px;
	transition: color 0.3s ease;
	font-weight: bold;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	padding: 6px 12px;
  }
  
  .header-nav-link.active {
	font-weight: bold;
	background-color: rgb(230, 247, 255);
	border-radius: 30px;
	/* padding: 15px; */
	color: #087ea4;
	pointer-events: none;
  }

  .header-nav-link:hover {
	background-color: #e5e7eb;
	border-radius: 30px;
	border: 0 solid #e5e7eb;
  }

  .logo {
	width: 45px;
	padding-left: 20px;
  }