.personal-info {
	margin: auto;
	text-align: center;
	margin-bottom: 20px;
}

.personal-info-box {
	margin: auto;
	margin-top: 20px;
	width: 30%;
	background-color: white;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
	border-radius: 10px;
	padding: 20px 0;
	position: relative;
}
.personal-img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	
}

.edit-icon > img {
	width: 30px;
	position: absolute;
	top: 20px;
	right: 30px;
}
